nginx:
    image: nginx:latest
    ports:
        - '80:80'
    volumes:
        - ./opt/docker/nginx:/etc/nginx/conf.d
        - ./opt/docker/wordpress:/var/www/html
    links:
        - wordpress
    restart: always

mysql:
    image: mariadb
    ports:
      - '3306:3306'
    volumes:
      - ./wp-db-data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD={{ root_db_psw }}
      - MYSQL_DATABASE={{ wp_db_name }}
      - MYSQL_USER={{ wp_db_name }}
      - MYSQL_PASSWORD={{ wp_db_psw }}
    restart: always

wordpress:
    depends_on:
    - mysql
    image: wordpress:{{ wp_version }}-php7.0-fpm
    ports:
      - '9000:9000'
    volumes:
      - ./opt/docker/wordpress:/var/www/html
    environment:
      - WORDPRESS_DB_NAME={{ wp_db_name }}
      - WORDPRESS_TABLE_PREFIX={{ wp_db_tb_pre }}
      - WORDPRESS_DB_HOST={{ wp_db_host }}:3306
      - WORDPRESS_DB_USER={{ wp_db_user }}
      - WORDPRESS_DB_PASSWORD={{ wp_db_psw }}
    links:
      - mysql
    restart: always
